*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(4, 4, 62);
}
nav{
    background-color: rgb(15, 15, 48);
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
nav .left{
    font-size: 24px;
    color: rgb(179, 106, 248);
}
nav .right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}
ul li a{
    margin: 0px 16px;
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
}

ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
ul li a:hover:after{
    width: 100%;
}
html{
    scroll-behavior:smooth;
}
/* First section */
main .firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    padding: 5%;
}
main .firstsection .left{
    width: 40%;
    font-size: 24px;
    text-align: center;
}
main .firstsection .left #first{
    font-size: 50px;
}
main .firstsection .left #first span{
    color: rgb(179, 106, 248);
    font-size: 54px;
}
main .firstsection .right{
    width: 40%;
}
main .firstsection .img{
    width: 80%;
}
.separation{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.separation .line{
    width: 98%;
    height: 4px;
    background-color: white;
}
/* About section */
.about{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.leftsec{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftsec .about-img{
    width: 100%;
    border-radius: 6px;
}
.rightsec{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.rightsec .title{
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.rightsec .content{
    font-size: 20px;
    color: rgba(245, 240, 240, 0.927);
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social *{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 0px 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
.social *:hover{
    transform: translateY(-6px);
}
.social .leetcode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
}
.social .leetcode img{
    width: 46px;
}

/* Education Section */
.education h1{
    font-size: 50px;
    color: white;
    padding: 0px 30px;
}
.education .education-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
.education .education-item{
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 12px 10px;
    width: 30%;
}
.education .education-item h3{
    color: rgb(179, 106, 248);
    padding: 20px 0px;
}


/* Skills section */
.separation-small{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.separation-small .line{
    width: 96%;
    height: 1px;
    background-color: white;
}
.skills{
    color: white;
    padding: 0px 30px;
    font-size: 16px;
}
.skills i{
    color: white;
    font-size: 40px;
    margin-right: 10px;
}
.skills span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills img{
    width: 45px;
    margin-right: 10px;
}
.skills h1{
    font-size: 50px;
    color: white;
    padding-bottom: 20px;
}
.skills h2{
    text-align: center;
    font-size: 30px;
    padding-bottom:20px;
}
.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 50px;
}

/* Project's Section */

.Project{
    color: white;
    padding: 0px 30px;
    font-size: 16px;
}
.Project h1{
    font-size: 50px;
}

/* Contact-me section */
.contact-me{
    color: white;
    padding: 0px 30px;
    font-size: 16px;
}
.contact-me h1{
    font-size: 50px;
}
.contact-me .contact-sec{
    display: flex;
    justify-content: space-between;
}
.contact-me .contact-sec .left-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}
.contact-me .contact-sec .left-contact *{
    margin: 10px 5px;
}
.left-contact .social{
    display: flex;
    justify-content: flex-start;
}
.contact-me .contact-sec .right-contact{
    flex-basis: 40%;
}
.contact-me .contact-sec .right-contact h3{
    font-size: 24px;
}
.right-contact .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-contact .form input,textarea{
    margin: 20px 0px;
    padding: 14px;
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}
.right-contact .form .submit{
    background-color: #ff004f;
    color: white;
    border: 2px solid #ff004f;
    border-radius: 4px;
    padding:8px 14px;
    font-size: 20px;
}

/* Footer Content */

.footer-content{
    width: 100%;
    padding: 20px;
    background-color:rgb(15, 15, 48);
    color: white;
    text-align: center;
}
.footer-content h3{
    font-size: 24px;
    padding: 20px 0px;
}
.footer-content p{
    font-size: 14px;
    color: rgba(245, 240, 240, 0.927);
}

/* media queries */
nav .menu{
    display: none;
}

@media  screen and (max-width:950px) {
    /* nav bar */
    nav .menu{
        display: block;
        font-size: 25px;
        color: white;
    }
    nav .right ul{
        position: fixed;
        top: 0;
        right: -250px;
        background-color: rgb(15, 15, 48);
        height: 100vh;
        width: 250px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2;
        transition: right 0.5s;
    }
    nav .right ul li{
        display: block;
        margin: 30px;
    }
    nav ul .menu{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    /* first section */
    main .firstsection .left{
        font-size: 20px;
    }
    main .firstsection .left #first{
        font-size: 30px;
    }
    main .firstsection .left #first span{
        font-size: 34px;
    }
    main .firstsection .img{
        width: 100%;
    }
    /* About section */
    .rightsec .title{
        font-size: 30px;
    }
    .rightsec .content{
        font-size: 16px;
    }
    .rightsec .social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightsec .social *{
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-top: 10px;
        transition: transform 0.5s;
    }
    .rightsec .social *:hover{
        transform: translateY(-6px);
    }
    .rightsec .social .leetcode img{
        width: 23px;
    }
    /* Education section */
    .education h1{
        font-size: 30px;
    }
    .education .education-item{
        font-size: 16px;
    }
    .education .education-item h3{
        font-size: 20px;
        color: rgb(179, 106, 248);
        padding: 20px 0px;
    }
    
}
@media screen and (max-width:800px){
    /* Education section */
    .education h1{
        font-size: 50px;
    }
    .education .education-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .education .education-item{
        width: 90%;
    }
    .education .education-item h3{
        color: rgb(179, 106, 248);
        padding: 20px 0px;
    }
    /* skills section */
    .grid{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
        row-gap: 50px;
    }

    /* contact section */
    .contact-me .contact-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-me .contact-sec .left-contact{
        width: 90%;
    }
    .contact-me .contact-sec .right-contact{
        width: 90%;
    }
}

@media screen and (max-width:700px){
    main .firstsection{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    main .firstsection .right{
        width: 90%;
    }
    main .firstsection .img{
        width: 90%;
    }
    main .firstsection .left{
        width: 90%;
        text-align:center;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .rightsec{
        width: 100%;
    }
    .rightsec .social *{
        color: white;
        font-size: 30px;
        cursor: pointer;

    }
    .rightsec .social .leetcode img{
        width: 33px;
    }
}